*       @achapkowski @jyaistmap
/src/arcgis    @nanaeaubry @nparavicini7 @jtroe
/src/arcgis/geoenrichment  @dmitrykozlov @paverman @msattarov
/src/arcgis/gis/workflowmanager @AngelVDelgadillo @kbedel
/src/arcgis/graph @CamBDignan @mbana641
/src/arcgis/network @deelesh @max-zeng
/src/arcgis/raster       @rhea-j @kreetichandran @ppoply
/src/arcgis/learn        @karthikdutt @priyankatuteja @rohitgeo @vikashranjan26
/build      @jtroe @cariashuang0417
/tests      @jtroe @cariashuang0417
/.github    @jtroe @cariashuang0417
/.jenkins   @jtroe @cariashuang0417
