include pypi_long_description.md
prune arcgis/widgets/js
include arcgis/widgets/js/dist/arcgis-map-ipywidget.js
include arcgis/widgets/js/dist/arcgis-map-ipywidget.js.map
include arcgis/widgets/js/dist/extension.js
recursive-include arcgis/apps/hub/_store *.json
recursive-include arcgis *.pyd
recursive-include arcgis *.so
global-include *.pyd
global-include *.so